// colors: 
$peach-fuzz: #ffbe98;
$blue: #9CB6DD;
$light-blue: #D3E2F2;
$purple: #c0bbf7;
$light-purple: #F1F0FC;
$pink: #FBD5D5;
$light-green: #E0FCDC;

$black: #050315;
$grey: #7C7C7C;

$text-color: #5A5750;
$text-light-grey: rgba(90, 87, 80, .5);

// screen sizes
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$laptop-xl: 1920px;
$screen-4k: 2560px;